.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f66;
}

.nav {
  display: flex;
  list-style: none;
}

.nav li {
  margin-left: 1rem;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.main {
  background-color: #3c9;
}

.footer {
  background-color: #66f;
}
